{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="d-flex flex-column text-center d-flex" style="height: auto; padding-top: 55px;">
    <div class="container-fluid about p-5">
        <div class="row">
            <div class="col-md-6">
                <div class="container p-4 rounded shadow about-main text-start p-5 rounded-5">
                    <p class="lead fw-bold fs-3">Building Safer Communities</p>
                    <p>SafeCity Hub connects people, emergency services, and
                        government agencies to create resilient, prepared communities.</p>
                    <a href="" class="learn-more rounded-5 ">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-start pt-4">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <p class="fs-3 fw-bold">About SafeCity Hub</p>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img src="https://placehold.co/600x400" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row gx-3 gy-3">
            <p class="fs-3 fw-bold">Our Core Values</p>
        
            <div class="col-12 col-md-6 col-lg-3 border-start border-5 border-primary shadow p-3">
                <p class="fs-5 fw-bold">Community First</p>
                <p>We prioritize the needs and safety of communities we serve.</p>
            </div>
            
            <div class="col-12 col-md-6 col-lg-3 border-start border-5 border-success shadow p-3">
                <p class="fs-5 fw-bold">Innovation</p>
                <p>Continuous improvement through technology.</p>
            </div>
            
            <div class="col-12 col-md-6 col-lg-3 border-start border-5 border-info shadow p-3">
                <p class="fs-5 fw-bold">Collaboration</p>
                <p>Partnership between citizens, services, and government.</p>
            </div>
            
            <div class="col-12 col-md-6 col-lg-3 border-start border-5 border-danger shadow p-3">
                <p class="fs-5 fw-bold">Accessibility</p>
                <p>Information and services available to everyone.</p>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock %}
