# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.env/

# Django database
db.sqlite3

# Django migrations (optional to ignore)
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# Static and media files (optional)
staticfiles/
media/

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# dotenv
.env
