@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.navbar-custom {
    background-color: #1E3A8A!important;
}

.navbar-custom .navbar-nav .nav-link {
    color: #EEEEEE;
}

.legend-box {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
  }
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .crime { background-color: #e53935; }       /* Red */
  .accident { background-color: #fb8c00; }    /* Orange */
  .civic { background-color: #fdd835; }       /* Yellow */


