@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F4F6;
    padding: 0;
}

.navbar-custom {
    background-color: #1E3A8A!important;
}

.navbar-custom .navbar-nav .nav-link {
    color: #EEEEEE;
}

.legend-box {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
  }
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .crime { background-color: #e53935; }       /* Red */
  .accident { background-color: #fb8c00; }    /* Orange */
  .civic { background-color: #fdd835; }       /* Yellow */


button#dropdownMenuButton {
  border-radius: 50px;
  background-color: #EEEEEE;
  border: none;
  color: #6B7280;
}

.report-form {
  background-color: #F8F9FA;
  color: #0B0B0B;
  border-radius: 10px;
}

.alert-container {
  background-color: rgb(59, 130, 246, 0.20);
}

.type-alert {
  background-color: rgb(234, 54, 54,0.25);
  border-left: 10px solid #EA3636;
  padding: 1rem;
}

.profile {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile-section {
  background-color: #FFFFFF;
}

.about {

    --s: 57px; /* control the size*/
    --c1: #3628fb;
    --c2: #5544da;
    --c3: #3100a3;
    
    --_g: 0 120deg,#0000 0;
    background:
      conic-gradient(             at calc(250%/3) calc(100%/3),var(--c3) var(--_g)),
      conic-gradient(from -120deg at calc( 50%/3) calc(100%/3),var(--c2) var(--_g)),
      conic-gradient(from  120deg at calc(100%/3) calc(250%/3),var(--c1) var(--_g)),
      conic-gradient(from  120deg at calc(200%/3) calc(250%/3),var(--c1) var(--_g)),
      conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
      conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
      conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
    background-size: calc(var(--s)*sqrt(3)) var(--s);

  height: auto;
}

.about-main {
  background-color: #D9D9D9;
}

.about-main .lead {
  color: #08225B;
}

.learn-more {
  background-color: #C75C5C;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.status-options {
  display: flex;
  gap: 20px; /* Space between each option */
  flex-wrap: wrap; /* Allow wrapping if the screen is smaller */
}

.status-option {
  display: flex;
  align-items: center; /* Center the radio button and label vertically */
}

.status-option input[type="radio"] {
  margin-right: 8px; /* Space between the radio button and the label */
}
